#container {
    text-align: center;
    margin-left: 13%;
}

.track {
    margin: 20px;
    padding: 20px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

#modal-button {
    margin-top: 30px;
    width: 300px;
    height: 60px;
}

#board-input {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90%;
    height: 300px;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 50px;
}

#board-input:focus, #tag-input:focus {
    outline: auto;
    box-shadow: none;
    border: 1px solid #ccc;
}

#tag-input {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding: 13px;
    resize: none;
    text-align: center;
}

#modal-area {
    text-align: center;
}


.hashtag-element {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.hashtag-element:hover {
    cursor: pointer;
    background-color: rgb(191, 191, 191);
}

#board-area {
    position: absolute;
    top: 60%;
    left: 17%;
    width: 80%;
    padding: 30px;
}

.form-check-input:checked {
    background-color: black !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 1px black !important;
}

.board-element {
    background-color: rgb(236, 235, 235);
    border-radius: 30px;
    margin-right: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

.hashtag-element {
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    font-weight: bold;
}

.content-area {
    margin-left: 10px;
    margin-top: 10px
}

.board-element:hover {
    cursor: pointer;
    background-color: rgb(226, 225, 225);
}

.createdDate-area {
    color: gray;
}

#page-area {
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 38%;
}

.page-number {
    cursor: pointer;
    padding: 15px;
}

.page-number:hover {
    font-weight: bold;
}

#number-list {
    display: inline-block;
}

#prev-button, #next-button {
    cursor: pointer;
}