body {
    background-color: rgb(65, 65, 65);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#sec-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.5;
}